
        <html>
                <body>
                    <h3>Name:- <%=name%></h3>
                    <h3>Phone no:- <%=phone%></h3>
                    <h3>Check-in date:- <%=check_in_date%></h3>
                    <h3>Check-in time:- <%=check_in_time%></h3>
                    <h3>check-out date:- <%=check_out_date%></h3>
                    <h3>check-out time:- <%=check_out_time%></h3>
                    <h3>Host name:- <%=hostname%></h3>
                    
                </body>
            </html>